@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(
    to bottom,
    rgba(40, 32, 66, 1),
    rgba(21, 24, 27, 1)
  );
}
